# <span style="font-size: 20pt; font-family: Montserrat, sans-serif; color: rgb(92, 148, 206); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Graded Assignment 3: 9 to 5</span>

  

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to show off your SQL skills! For each question, copy the SQL query you used and make note of the answer.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The Dataset</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For this assignment, you will be using the Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results which can be found on</span> [<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(17, 85, 204); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Kaggle</span>](https://www.kaggle.com/bls/employment)<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Business Issue</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">You are working for the Bureau of Labor Statistics with the United States government and have been approached by your boss with an important meeting request. You have been asked by your supervisor to meet with Dolly Parton whose nonprofit is looking to shed light on the state of employment in the United States. As part of the 9 to 5 project, their research is focused on production and nonsupervisory employees and how those employees fare compared to all employees in the United States. While the data the BLS collects from the CES is publicly available, Dolly Parton and her colleagues need your assistance navigating the thousands of rows in each table in LaborStatisticsDB.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">About the Dataset</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">This dataset comes directly from the Bureau of Labor Statistics’ Current Employment Survey (CES). Here are some things you need to know:</span>

1. <span style="font-size: 10pt; background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The industry table contains an NAICS code. This is different from the industry code. NAICS stands for North American Industry Classification System.</span>
    
2. <span style="font-size: 10pt; background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Series ID is composed of multiple different codes. CES stands for Current Employment Survey, the name of the survey which collected the data. The industry code as specified by the BLS and the data type code as specified in the datatype table.</span>
    

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Set Up</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To connect to the database, use the same connection info used during the SQL lessons.&nbsp;</span> 

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For the assignment, we will be using the LaborStatisticsDB database.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Database Exploration</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To start with, let’s get to know the database further.</span>

1. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: &quot;Times New Roman&quot;; font-size: 10pt; white-space: pre-wrap;">Use this space to make note of each table in the database, the columns within each table, each column’s data type, and how the tables are connected. You can write this down or draw a diagram. Whatever method helps you get an understanding of what is going on with LaborStatisticsDB.</span>

To add a photo, diagram or document to your file, drop the file into the folder that holds this notebook.  Use the the link button to the right of the  \</\> symbol in the gray part of this cell, the link is just the name of your file.

[My notes about the database tables](.\Notes%20Database%20Tables%20v2.jpg)

2. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: Arvo, serif; font-size: 10pt; white-space: pre-wrap;">What is the datatype for women employees?</span>

In [66]:
SELECT [data_type_code]
      ,[data_type_text]
  FROM [LaborStatisticsDB].[dbo].[datatype] as dt
  where dt.data_type_text = 'women employees'

  -- Answer: 10

data_type_code,data_type_text
10,WOMEN EMPLOYEES

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the series id for&nbsp; women employees in the commercial banking industry in the financial activities supersector?</span>

In [69]:
-- Answer: CES5552211010, CEU5552211010

-- Prep) Run all related tables to get references

select top 3 *
from LaborStatisticsDB.dbo.series

select top 3 *
from LaborStatisticsDB.dbo.industry

select top 3 *
from LaborStatisticsDB.dbo.supersector

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
CES0000000001,0,00000000,1,S,All employees
CES0000000010,0,00000000,10,S,Women employees
CES0000000025,0,00000000,25,S,All employees

id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence
0,0,-,B,Total nonfarm,0,T,1
1,5000000,-,A,Total private,1,T,2
2,6000000,-,A,Goods-producing,1,T,3

supersector_code,supersector_name
0,Total nonfarm
5,Total private
6,Goods-producing

In [70]:
-- Step1) Find the supersector code.

select *
from LaborStatisticsDB.dbo.supersector as sup
where sup.supersector_name like '%financial%'

-- Found the supersector code is 55

supersector_code,supersector_name
55,Financial activities

In [71]:
-- Step2) Next, do the same in the industry db

select *
from dbo.industry as ind
where ind.industry_name like '%commercial banking%'

-- Found the industrcy code 55522110

id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence
563,55522110,52211,A,Commercial banking,6,T,564

In [72]:
-- Step3) Pull the series table with the found conditions from above. Apply using "WHERE" with "AND".

select *
from dbo.series as ser
where ser.supersector_code = 55 
    and ser.industry_code = 55522110
    and ser.series_title = 'Women employees'

-- Found two results: CES5552211010, CEU5552211010

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
CES5552211010,55,55522110,10,S,Women employees
CEU5552211010,55,55522110,10,U,Women employees

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Join in on the Fun</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to start joining! You can choose the type of join you use, just make sure to make a&nbsp; note!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join&nbsp; annual_2016 with series on series_id. We only want the data in the annual_2016 table to be included in the result.</span>

In [ ]:
-- The question identified where to join ("on series.id") so I can right dive into it without checking what column I need to use.
-- I will use left join to keep the annual_2016 table that I used as a first table.

select a2016.series_id as series_id_from_annual_2016
from dbo.annual_2016 as a2016
left join dbo.series as ser
on a2016.series_id = ser.series_id

-- (29042 rows affected)
-- Cleared the result for readability

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and datatype on data_type_code</span>

In [ ]:
select sr.data_type_code as data_type_code_series, dt.data_type_code as data_type_code_datatype
from dbo.series as sr
join dbo.datatype as dt
on sr.data_type_code = dt.data_type_code

-- (26709 rows affected)
-- Cleared the result for readability

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and industry on industry_code</span>

In [ ]:
select sr.industry_code as industry_code_series, ind.industry_code as industry_code_industry
from dbo.series as sr
join dbo.industry as ind
on sr.industry_code = ind.industry_code

-- Note how number zero works between two columns.

-- (26709 rows affected)
-- Cleared the result for readability

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Aggregate Your Friends and Code some SQL</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Put together the following:</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp; No chopping people into little bits, please.</span>

In [77]:
-- Answer: 2340613

-- I need to add all numbers from the "value" column, annual_2016.
-- series_id is the key that I can map with other tables.
-- The series table uses series_id, and I can get all employees' information.
-- Join two tables and get the total of value.

--<Preview before applying SUM>
-- select an.series_id, an.year, an.value, sr.series_title
-- from annual_2016 as an
-- join series as sr 
-- on an.series_id = sr.series_id
-- where sr.series_title = 'All employees'

select ceiling(SUM([value])) as Reported_Employees_in_2016
from annual_2016 as an
join series as sr 
on an.series_id = sr.series_id
where sr.series_title = 'All employees'

-- Result: 2340613

Reported_Employees_in_2016
2340613

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many women employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp;</span>

In [79]:
-- Answer: 1125490

-- Did the same as above, apply a different condition in WHERE

-- <Preview before applying SUM>
-- select an.series_id, an.year, an.value, sr.series_title
-- from annual_2016 as an
-- join series as sr 
-- on an.series_id = sr.series_id
-- where sr.series_title = 'Women employees'

select ceiling(SUM([value])) as Reported_Women_Employees_in_2016
from annual_2016 as an
join series as sr 
on an.series_id = sr.series_id
where sr.series_title = 'Women employees'

-- Result: 1125490

Reported_Women_Employees_in_2016
1125490

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many production/nonsupervisory employees were reported in 2016? Round to the nearest whole number.&nbsp;</span>

In [83]:
-- Answer: 1263650

-- Step1)
-- I noticed that there are many related results using only keywords such as "production" or "nonsupervisory".
-- So I ran the data type code table to to the exact data type code.

select *
from datatype as dt
where dt.data_type_text like '%production%'
    and dt.data_type_text like '%nonsupervisory%'

-- Found the data type code is 6 for "PRODUCTION AND NONSUPERVISORY EMPLOYEES"

data_type_code,data_type_text
6,PRODUCTION AND NONSUPERVISORY EMPLOYEES
7,AVERAGE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
8,AVERAGE HOURLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
9,AVERAGE WEEKLY OVERTIME HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
30,AVERAGE WEEKLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
31,AVERAGE WEEKLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
32,AVERAGE HOURLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
33,AVERAGE HOURLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
34,INDEXES OF AGGREGATE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
35,INDEXES OF AGGREGATE WEEKLY PAYROLLS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
38,PRODUCTION AND NONSUPERVISORY EMPLOYEES-TO-ALL EMPLOYEES RATIO
81,AGGREGATE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
82,AGGREGATE WEEKLY PAYROLLS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
83,AGGREGATE WEEKLY OVERTIME HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES

In [85]:
-- Step2)
-- Now I can do the same as above, but using the code this time.

-- <Preview before applying SUM>
-- select an.series_id, an.year, an.value, sr.series_title
-- from annual_2016 as an
-- join series as sr 
-- on an.series_id = sr.series_id
-- where sr.data_type_code = 6

select ceiling(SUM([value])) as Production_nonsupervisory_emps_in2016
from annual_2016 as an
join series as sr 
on an.series_id = sr.series_id
where sr.data_type_code = 6

-- Result: 1263650

Production_nonsupervisory_emps_in2016
1263650

4. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, what is the average weekly hours worked by production and nonsupervisory employees across all industries?</span>

In [86]:
-- Answer: 79474

-- Step1)
-- Find the data code type first
select *
from datatype as dt
where 
    dt.data_type_text like '%average weekly hours%' and
    dt.data_type_text like '%production%' and 
    data_type_text like '%nonsupervisory%'

-- Found the data type code is 7

data_type_code,data_type_text
7,AVERAGE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES

In [87]:
-- Step2)
select CEILING(SUM([value])) as Avg_weekly_hrs_code07_Jan2017
from january_2017 as jan
join series as srs
on jan.series_id = srs.series_id
where data_type_code = 7

-- Result: 79474

Avg_weekly_hrs_code07_Jan2017
79474

5. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the total weekly payroll for production and nonsupervisory employees across all industries in January 2017? Round to the nearest penny, please.</span>

In [88]:
-- Answer: 1838753220

-- Step1) Find the data code type first
select *
from datatype as dt
where 
    dt.data_type_text like '%weekly payroll%' and
    dt.data_type_text like '%production%' and 
    data_type_text like '%nonsupervisory%'

-- Found the data type code is 82

data_type_code,data_type_text
35,INDEXES OF AGGREGATE WEEKLY PAYROLLS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
82,AGGREGATE WEEKLY PAYROLLS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES

In [90]:
-- Step2)
select CEILING(SUM([value])) as Aggregated_weekly_payrolls_code82_Jan2017
from january_2017 as jan
join series as srs
on jan.series_id = srs.series_id
where data_type_code = 82

-- Result: 1838753220

Aggregated_weekly_payrolls_code82_Jan2017
1838753220

6. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, which industry was the average weekly hours worked by production and nonsupervisory employees the highest? Which industry was the lowest?</span>

In [103]:
-- Answer
-- Highest: Motor vehicle power train components
-- Lowset: Fitness and recreational sports centers

-- Highest
select top 1 sum([value]) as TotalAvgWeeklyHours, srs.data_type_code, srs.industry_code, ind.industry_name
from january_2017 as jan
join series as srs
on jan.series_id = srs.series_id
    join industry as ind 
    on srs.industry_code = ind.industry_code
where data_type_code = 7
GROUP by srs.data_type_code, srs.industry_code, ind.industry_name
Order by TotalAvgWeeklyHours DESC

TotalAvgWeeklyHours,data_type_code,industry_code,industry_name
198.4,7,31336350,Motor vehicle power train components

In [104]:
-- Lowest
select top 1 sum([value]) as TotalAvgWeeklyHours, srs.data_type_code, srs.industry_code, ind.industry_name
from january_2017 as jan
join series as srs
on jan.series_id = srs.series_id
    join industry as ind 
    on srs.industry_code = ind.industry_code
where data_type_code = 7
GROUP by srs.data_type_code, srs.industry_code, ind.industry_name
Order by TotalAvgWeeklyHours ASC

TotalAvgWeeklyHours,data_type_code,industry_code,industry_name
67.4,7,70713940,Fitness and recreational sports centers

7. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2021, which industry was the total weekly payroll for production and nonsupervisory employees the highest? Which industry was the lowest?</span>

In [105]:
-- I used the January 2017 dataset as there is no January 2021 dataset. 

-- Answer
-- Highest: Total private
-- Lowset: Coin-operated laundries and drycleaners

-- Highest
select top 1 sum([value]) as TotalAvgWeeklyHours, srs.data_type_code, srs.industry_code, ind.industry_name
from january_2017 as jan
join series as srs
on jan.series_id = srs.series_id
    join industry as ind 
    on srs.industry_code = ind.industry_code
where data_type_code = 82
GROUP by srs.data_type_code, srs.industry_code, ind.industry_name
Order by TotalAvgWeeklyHours DESC

TotalAvgWeeklyHours,data_type_code,industry_code,industry_name
295944946,82,05000000,Total private

In [106]:
-- Lowest
select top 1 sum([value]) as TotalAvgWeeklyHours, srs.data_type_code, srs.industry_code, ind.industry_name
from january_2017 as jan
join series as srs
on jan.series_id = srs.series_id
    join industry as ind 
    on srs.industry_code = ind.industry_code
where data_type_code = 82
GROUP by srs.data_type_code, srs.industry_code, ind.industry_name
Order by TotalAvgWeeklyHours ASC

TotalAvgWeeklyHours,data_type_code,industry_code,industry_name
40448,82,80812310,Coin-operated laundries and drycleaners

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Subqueries, Unions, Derived Tables, Oh My!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Write a query that returns the series_id, industry_code, industry_name, and value from the january_2017 table but only if that value is greater than the average value for annual_2016 of data_type_code 82.</span>

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Create a Union table comparing average weekly earnings&nbsp; of production and nonsupervisory employees between annual_16 and january_17 using the data type 30.&nbsp; Round to the nearest penny.&nbsp; You should have a column for the average earnings and a column for the year, and the period.</span>

## <span style="font-size:12pt;font-family:Montserrat, sans-serif;color:rgb(53, 74, 95);background-color:rgb(255, 255, 255);font-weight:700;vertical-align:baseline;white-space:pre-wrap;">Summarize Your Results</span>

<span style="font-size:10pt;font-family:Arvo, serif;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">With what you know now about the </span> <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:13.3333px;white-space:pre-wrap;">Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results and working with the</span> <span style="color:rgb(102, 102, 102);white-space:pre-wrap;font-family:&quot;Times New Roman&quot;;font-size:13.3333px;">Labor Statistics Database</span><span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:Arvo, serif;font-size:10pt;white-space:pre-wrap;">, answer the following questions. Note that while this is subjective, you should include relevant data to back up your opinion.</span>

1. <span style="background-color:rgb(255, 255, 255);font-size:10pt;white-space:pre-wrap;color:rgb(102, 102, 102);font-family:Arvo, serif;">During which time period did production and nonsupervisory employees fare better?</span>

Double click here to add your answer

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In which industries did production and nonsupervisory employees fare better?</span>

Double click here to add your answer.

3. <span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Now that you have explored the datasets, is there any data or information that you wish you had in this analysis?</span>

Double click here to add your answer.